.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  transition: all 0.3s ease;
}

app-sidebar {
  width: 20%; /* Ancho del sidebar abierto */
  transition: width 0.3s ease;
}

app-root {
  flex-grow: 1;
  width: 80%; /* Ancho cuando el sidebar está abierto */
  transition: width 0.3s ease;
}

/* Cuando el sidebar está cerrado */
.sidebar-collapsed app-sidebar {
  width: 0;
  overflow: hidden;
}

.sidebar-collapsed app-root {
  width: 100%;
}
