<div class="container menu-container">
  <h3 class="menu-title mt-4">Administra Tu Tienda Desde Este Lugar</h3>
  <div class="container text-center mt-4">
    <!-- Fila 1 -->
    <div class="row">
      <div class="col-5" >
        <div class="icon-card">
          <img src="assets/img/image 87.png" class="image_card" />
          <p>Mi Tienda</p>
        </div>
      </div>
      <div class="col-5" routerLink="/AdminProduct">
        <div class="icon-card">
          <img src="assets/img/image 88.png" class="image_card" />
          <p>Productos</p>
        </div>
      </div>
      <div class="col-5" routerLink="/users">
        <div class="icon-card">
          <img src="assets/img/image 89.png" class="image_card" />
          <p>Clientes</p>
        </div>
      </div>
      <div class="col-5">
        <div class="icon-card">
          <img src="assets/img/image 97.png" class="image_card" />
          <p>Movimientos</p>
        </div>
      </div>
      <div class="col-5">
        <div class="icon-card">
          <img src="assets/img/image 99.png" class="image_card" />
          <p>Estadísticas</p>
        </div>
      </div>
    </div>
    <!-- Fila 2 -->
    <div class="row">
      <div class="col-5">
        <div class="icon-card">
          <img src="assets/img/image 90.png" class="image_card" />
          <p>Políticas</p>
        </div>
      </div>
      <div class="col-5">
        <div class="icon-card">
          <img src="assets/img/image 91.png" class="image_card" />
          <p>Ajustes</p>
        </div>
      </div>
      <div class="col-5">
        <div class="icon-card">
          <img src="assets/img/image 92.png" class="image_card" />
          <p>Proveedores</p>
        </div>
      </div>
      <div class="col-5">
        <div class="icon-card">
          <img src="assets/img/image 100.png" class="image_card" />
          <p>Ordenes</p>
        </div>
      </div>
      <div class="col-5">
        <div class="icon-card">
          <img src="assets/img/image 98.png" class="image_card" />
          <p>Comentarios</p>
        </div>
      </div>
    </div>
  </div>
  <h4 class="menu-footer mb-5 menu-title">Todo Lo Que Necesitas En Una Sola Aplicación</h4>
</div>
