<div class="container menu-container">
  <h3 class="menu-title mt-4">Administra Tu Tienda Desde Este Lugar</h3>
  <div class="row justify-content-center mt-4 g-4">

    <!-- Card 1: Mi Tienda -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="icon-card">
        <img src="assets/img/image 87.png" class="image_card" />
        <p>Mi Tienda</p>
      </div>
    </div>

    <!-- Card 2: Galeria de Imagenes -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" routerLink="/productsGallery">
      <div class="icon-card">
        <img src="assets/img/image 88.png" class="image_card" />
        <p>Galería de Imágenes</p>
      </div>
    </div>

    <!-- Nueva Card: Ver Compras -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" routerLink="/VerCompras">
      <div class="icon-card cart-card">
        <i class="bi bi-cart-check-fill cart-icon"></i>
        <p>Ver Compras</p>
      </div>
    </div>

  </div>

  <h4 class="menu-footer mb-5 menu-title">Todo Lo Que Necesitas En Una Sola Aplicación</h4>
</div>
