<video class="video-background" autoplay loop muted>
    <source src="https://videocdn.cdnpk.net/videos/18d2161b-3ff5-52b2-bb08-6031eca96e4f/horizontal/previews/clear/large.mp4?token=exp=1737471353~hmac=fbbcbb40f276bb5c5bf724d0b8be6eeaf94f197fbfc9e83dce96f774792bd8d4" 
            type="video/mp4">
    Tu navegador no soporta el video de fondo.
</video>

<div class="overlay"></div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
        <div class="col">
            <div class="card p-3">
                <div class="card-body">
                    <h1><i class="fas fa-bullseye text-danger"></i> Misión</h1>
                    <p class="info_p">En Silicon, nos dedicamos a ofrecer soluciones tecnológicas de vanguardia,
                        comercializando productos electrónicos y servicios de la más alta calidad. Nuestro compromiso es
                        elevar el bienestar de la sociedad, trabajando en alianza con las marcas líderes del sector
                        tecnológico. Contamos con un equipo de profesionales altamente capacitados y con un profundo
                        sentido de la calidad humana, siempre listos para atender y resolver las necesidades de nuestros
                        clientes en el ámbito de la electrónica.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card p-3">
                <div class="card-body">
                    <h1><i class="fas fa-eye text-primary"></i> Visión</h1>
                    <p class="title_card">
                        Convertirnos en la empresa líder en el Cauca en la prestación de servicios de reparación,
                        mantenimiento y comercialización de productos electrónicos, destacándonos por nuestra
                        innovación, calidad y compromiso con la satisfacción de nuestros clientes. Aspiramos a ser un
                        referente en el sector, ofreciendo soluciones tecnológicas de vanguardia que impulsen el
                        desarrollo y bienestar de nuestra comunidad.
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card p-3">
                <div class="card-body">
                    <h1><i class="fas fa-users text-success"></i> Quienes Somos</h1>
                    <p class="title_card">Somos una empresa líder en el sector de mantenimiento, reparación y venta de
                        artículos electrónicos, con una trayectoria que se remonta a 1973. Desde nuestros inicios, nos
                        hemos distinguido por nuestro compromiso con la excelencia, la innovación y la satisfacción de
                        nuestros clientes. Nuestra pasión por la tecnología nos mantiene siempre a la vanguardia,
                        desarrollando soluciones que abarcan una amplia gama de servicios en el mundo de la electrónica.
                        Cada proyecto que emprendemos refleja nuestra dedicación al profesionalismo y a la calidad,
                        valores que han sido nuestro sello distintivo durante más de cinco décadas.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card p-3">
                <div class="card-body">
                    <h1><i class="fas fa-history text-warning"></i> Nuestra Historia</h1>
                    <p class="title_card">
                        Hace cuarenta años, en una época en la que el mundo comenzaba a vislumbrar el futuro en los
                        circuitos y chips, un visionario llamado David Cantillo Valenzuela vio más allá del horizonte
                        tecnológico. En un mundo en constante cambio, donde la electrónica se perfilaba como el pilar
                        del desarrollo, David comprendió que el futuro pertenecía a quienes supieran adaptarse y liderar
                        esta revolución silenciosa.
                        Con la firme intención de crear algo que no solo respondiera a las necesidades del presente,
                        sino que también anticipara las demandas del mañana, David decidió fundar una empresa que se
                        convirtiera en un faro de innovación para la comunidad. Sin embargo, sabía que no bastaba con
                        tener la idea; el nombre debía ser tan visionario como la empresa misma. Un nombre que evocara
                        tanto la esencia de la tecnología como la promesa de un futuro brillante.
                        Fue entonces cuando David, meditando sobre el elemento que se encontraba en el corazón de cada
                        avance tecnológico, llegó a la palabra que cambiaría todo: SILICON. Inspirado por el silicio, la
                        base de los semiconductores y el material que estaba transformando la electrónica, David eligió
                        este nombre como un símbolo de la empresa que estaba a punto de nacer. Con este nombre, David no
                        solo capturó la importancia del presente, sino que también aseguró que su empresa estaría
                        siempre a la vanguardia, impulsando la tecnología hacia un futuro lleno de posibilidades
                        infinitas.
                        Así, con una palabra simple pero cargada de significado, nació Silicon, una empresa destinada a
                        ser más que un proveedor de servicios tecnológicos; una pionera en la creación del futuro.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>