<footer class="footer">
    <div class="container">
      <div class="row text-center py-4">
        <div class="col-md-4">
          <i class="bi bi-people" style="font-size: 2rem; color: #fff;"></i>
          <p class="mt-2" style="color: #fff;">Sobre Nosotros</p>
          <small style="color: #fff;">Silicon - Store</small>
        </div>
        <div class="col-md-4">
          <i class="bi bi-envelope" style="font-size: 2rem; color: #fff;"></i>
          <p class="mt-2" style="color: #fff;">Email</p>
          <small style="color: #fff;">Silicongmail.com</small>
        </div>
        <div class="col-md-4">
          <i class="bi bi-telephone" style="font-size: 2rem; color: #fff;"></i>
          <p class="mt-2" style="color: #fff;">Línea Telefónica</p>
          <small style="color: #fff;">292-4444-3226</small>
        </div>
      </div>
      <hr style="border-color: #fff;">
      <div class="row text-center py-3">
        <div class="col-md-3">
          <h6 style="color: #fff;">Sobre Nosotros</h6>
          <ul class="list-unstyled">
            <li><a href="#" style="color: #fff;">¿Quiénes Somos?</a></li>
            <li><a href="#" style="color: #fff;">Misión y Visión</a></li>
            <li><a href="#" style="color: #fff;">Portafolio de Servicios</a></li>
            <li><a href="#" style="color: #fff;">Contáctanos</a></li>
            <li><a href="#" style="color: #fff;">Visítanos</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6 style="color: #fff;">Compras en Línea</h6>
          <ul class="list-unstyled">
            <li><a href="#" style="color: #fff;">Preguntas Frecuentes</a></li>
            <li><a href="#" style="color: #fff;">Pago Seguro</a></li>
            <li><a href="#" style="color: #fff;">Métodos de Envío</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6 style="color: #fff;">Servicios</h6>
          <ul class="list-unstyled">
            <li><a href="#" style="color: #fff;">Instalaciones</a></li>
            <li><a href="#" style="color: #fff;">Reparación de Equipos</a></li>
            <li><a href="#" style="color: #fff;">Atención al Cliente</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6 style="color: #fff;">Políticas</h6>
          <ul class="list-unstyled">
            <li><a href="#" style="color: #fff;">Términos y Condiciones</a></li>
            <li><a href="#" style="color: #fff;">Política de Privacidad</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  