<div class="container-fluid contenedor-cards" style="background-color: #2c2c2c;">
  <div class="card-container">
    <div class="card_row" *ngFor="let item of listaDataInfo">
      <i class="{{ item.icono }}"></i>
      <p class="title_card">{{ item.data }}</p>
      <h3 class="h3_info">{{ item.info }}</h3>
    </div>
  </div>
</div>

<div class="d-flex flex-column flex-md-row justify-content-between align-items-center orange m-0">
  <div class="d-flex align-items-center store" [routerLink]="['/VerTienda']">
    <img src="assets/img/Silicon_Store.png" class="image" alt="Logo Silicon">
  </div>

  <div class="container-fluid p-3">
    <div class="d-flex flex-column gap-2" id="menuContenedorPrincipal">


      <div class="d-flex flex-wrap align-items-center justify-content-between gap-2 p-2 bg-light w-100">

        <!-- Buscador -->
        <!-- Contenedor del buscador -->
        <div class="flex-grow-1 me-3">
          <div class="input-group buscador-responsive">
            <input type="text" [(ngModel)]="textoBusqueda" (input)="buscar()" placeholder="Buscar producto..."
              class="form-control buscador-input" autocomplete="off">
            <span class="input-group-text  border-start-0" style="background-color: crimson;">
              <i class="bi bi-search" style="color: white;"></i>
            </span>
          </div>

          <div class="autocomplete-results" *ngIf="sugerencias.length > 0">
            <div class="autocomplete-item" *ngFor="let item of sugerencias" (click)="seleccionar(item.name)">
              <span class="item-name">{{ item.name }}</span>
              <span class="item-quantity" [ngClass]="{
          'rojo': item.total_quantity === 0,
          'verde': item.total_quantity >= 1
        }">
                ({{ item.total_quantity }})
              </span>
            </div>
          </div>
        </div>


        <!-- Imágenes -->
        <div class="d-flex gap-3 align-items-center flex-shrink-0 position-relative overflow-hidden"
          style="width: 270px; height: 30px;">
          <img src="assets/img/Carrusel_imagenes (1).png" class="fade-image position-absolute w-100 h-100 object-fit-contain"alt="Logo 1">
          <img src="assets/img/Carrusel_imagenes (2).png" class="fade-image position-absolute w-100 h-100 object-fit-contain"alt="Logo 1">
          <img src="assets/img/Carrusel_imagenes (3).png" class="fade-image position-absolute w-100 h-100 object-fit-contain"alt="Logo 1">
          <img src="assets/img/Carrusel_imagenes (4).png" class="fade-image position-absolute w-100 h-100 object-fit-contain"alt="Logo 1">
          <img src="assets/img/Carrusel_imagenes (5).png" class="fade-image position-absolute w-100 h-100 object-fit-contain"alt="Logo 1">
          <img src="assets/img/Carrusel_imagenes.png" class="fade-image position-absolute w-100 h-100 object-fit-contain"alt="Logo 1">

        </div>
      </div>



      <!-- Primer menú -->
      <div class="d-flex flex-grow-1 justify-content-center" id="menuAccordion1">
        <ul class="nav d-flex flex-row flex-wrap justify-content-center p-0 m-0  opciones_menu">
          <li class="nav-item">
            <a class="" role="button" routerLink="/verTienda">Tienda</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="categoriasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorías
            </a>
            <ul class="dropdown-menu" aria-labelledby="categoriasDropdown">
              <li *ngFor="let categoria of categorias">
                <a class="dropdown-item" (click)="seleccionarCategoria(categoria.name)">
                  {{ categoria.category }}
                </a>
              </li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="" role="button">Descuentos</a>
          </li>
          <li class="nav-item">
            <a class="" role="button">Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="" role="button">Black Friday</a>
          </li>
          <li class="nav-item">
            <a class="" role="button">Punto Silicon</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ng-container *ngIf="isLoggedIn; else notLoggedIn">
    <div class="content d-flex m-0">
      <div class="text-white text-center datos1" (click)="abrirCarrito()">
        <div class="message_login">
          <i class="bi bi-cart-fill mt-4 m-0"></i> <!-- Icono de Bootstrap -->
          <p class="welcome me-0">Carrito</p>
        </div>
      </div>
    </div>


    <div class="text-white text-center datos" (click)="cerrarSesion()">
      <div class="align-items-center justify-content-center">
        <i class="bi bi-person-fill mt-4 m-0"></i> <!-- Icono de Bootstrap -->
        <p class="welcome me-0">Bienvenido</p>
        <p class="name_user">{{ name }}</p>
      </div>
    </div>


  </ng-container>
</div>

<ng-template #notLoggedIn>
  <div class="contenedor-login d-flex w-30">

    <!-- Sección de usuario (20%) -->
    <div class="seccion-usuario d-flex h-100 flex-column justify-content-center" [routerLink]="['/login']"
      style="cursor: pointer;">
      <i class="bi bi-people-fill" style="font-size: 30px;"></i>
      <p class="texto-ingresa">Ingresa</p>
    </div>

    <!-- Sección de imagen (80%) -->
    <div class="seccion-imagen d-flex justify-content-center h-100" [routerLink]="['/registro']"
      style="cursor: pointer;">
      <img src="assets/img/BECOME.png" class="image_become img-fluid" alt="Become">
    </div>

  </div>
</ng-template>