.menu-dropdown {
  position: absolute;
  /* Hace que el menú flote sin desplazar otros elementos */
  background: #F9F9F9;
  /* Fondo blanco para que se vea bien */
  border-radius: 5px;
  /* Bordes redondeados para mejor diseño */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra para resaltar el menú */
  z-index: 1000;
  /* Asegura que el menú esté por encima de otros elementos */
  width: 200px;
  /* Ajusta el ancho según sea necesario */
  font-weight: 900;
  display: none;
  /* Oculto por defecto */
}

.autocomplete-container {
  position: relative;
  width: 300px;
  margin: 0px auto;
}
*{
  border: 1px solid red;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
.autocomplete-results {
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  width: 100%;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.autocomplete-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.autocomplete-item:hover {
  background-color: #f5f5f5;
}

.item-name {
  font-weight: 500;
}

.item-quantity {
  font-weight: bold;
}

.item-quantity.rojo {
  color: #e74c3c;
}

.item-quantity.verde {
  color: #2ecc71;
}





.menu-dropdown.show {
  display: block;
  /* Se muestra cuando se activa */
}


.sidebar-wrapper {
  overflow: auto;
  width: auto;
  height: 700px;
}

.sidebar-wrapper::-webkit-scrollbar {
  width: 0;
  /* Oculta la barra de desplazamiento vertical */
  height: 10px;
  /* Establece la altura de la barra de desplazamiento horizontal */
}

.sidebar-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color del "dedo" de la barra de desplazamiento */
  border-radius: 10px;
}

.sidebar-wrapper::-webkit-scrollbar-track {
  background: #f4f4f4;
  /* Color de la pista de la barra de desplazamiento */
}

/* Para visibilidad de contenido */
.content {
  height: 500px;
  /* Contenido alto para mostrar el scroll */
}

/* Base styles for the sidebar */
.sidebar {
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  height: 120vh;
  /* Asegura que el sidebar ocupe toda la altura de la pantalla */
  z-index: 10;
  display: block;
  /* Asegura que el sidebar esté visible por defecto */
}

/* Styles for screens wider than 768px */
@media screen and (min-width: 968px) {
  .sidebar {
    position: fixed;
    display: block;
    /* Asegura que el sidebar esté visible en pantallas grandes */
  }
}

/* Styles for screens narrower than 768px */
@media screen and (max-width: 968px) {
  .sidebar {
    display: none;
    /* Oculta el sidebar en pantallas pequeñas */
  }

  .sidebar-open {
    display: block;
    /* Asegura que el sidebar se puede abrir con esta clase */
  }
}

/* Estilos aplicados solo cuando isLoggedIn es true */
.content.content-with-sidebar {
  padding-top: 60px;
  /* Ajusta el espaciado superior para dejar espacio para el navbar */
  margin-left: 250px;
  /* Deja espacio para el sidebar */
  margin-top: 60px;
  /* Compensa el espacio del navbar */
}


@media screen and (max-width: 968px) {
  .content.content-with-sidebar {
    margin-left: 0;
    /* Elimina el margen izquierdo cuando el sidebar no está visible */
  }
}

/* Estilos aplicados solo cuando isLoggedIn es false */
.full-width-content {
  margin-left: 0;
  /* Ajusta el margen izquierdo cuando el sidebar no está visible */
  padding-bottom: 60px;
  /* Asegura que el contenido no se oculte detrás del navbar */
  padding-block-end: 60px;
}


/* Estilos para el menú de navegación */
.nav-item {
  list-style: none;
  z-index: 900;
  /* Eliminar los puntos de la lista */
}


a, i ,ul{
  font-family: 'Poppins', sans-serif;
 
}

.nav ul {
  padding-left: 0;
  /* Elimina la indentación predeterminada de la lista */
}


.v{
  margin-right: -12px;
}


.collapse {
  display: none;
  /* Ocultar por defecto */
}

.show {
  display: block;
  /* Mostrar cuando está colapsado */
}

.ml-3 {
  margin-left: 1rem;
  /* Margen izquierdo para las rutas secundarias */
}








/* Estilo para el enlace activo cuando se está ejecutando (clicked) */




.btn {
  background-color: transparent;
  color: white;
  box-shadow: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  /* Tamaño de texto ajustado */
  text-transform: capitalize;
}


.name_user {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  align-items: center;
  text-align:center;
  margin-top:  15px; ; 
  justify-content: center;
}

.v{
font-style: normal;
font-family: 'Poppins', sans-serif;
transform: rotate(-90deg);

}

.fa-chevron-down{
  width: 20px;
  font-size: 1px;
}

.modulo_text{
  font-size: 230px;
  font-weight: 10000;
}



.modulo_text {
  display: inline;
  margin-right: 0px; /* Espacio mínimo entre los elementos */
}

.v {
  display: inline;
}

.datos {
  background-color: #3F3F3F;
  align-items: center;
  width: 130px;
  height: 100px;
  text-align: center;
}


.opciones_menu {
  display: flex;
  flex-direction: row;
  gap: 60px; /* espacio entre opciones, opcional */
  width: 100%;
}

.message_login{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.datos1 {
  justify-content: center;
  text-align: center;
  background-color: #dc143c;
  align-items: center;
  width: 130px;
  margin: 0;
  height: 100px;
}

.dropdown-menu {
  max-height: 300px;
  /* Ajusta el tamaño máximo */
  overflow-y: auto;
  /* Permite el scroll si hay muchas categorías */
  background-color: #f8f9fa;
  /* Fondo claro para contraste */
  border: 1px solid #ddd;
  /* Borde para visibilidad */
}

.dropdown-item {
  padding: 10px 15px;
  /* Espaciado interno */
  color: #333;
  /* Color del texto */
}

.dropdown-item:hover {
  background-color: #e9ecef;
  /* Color de fondo al pasar el mouse */
  color: #000;
  /* Color del texto al pasar el mouse */
}

.dropdown-item:hover {
  background-color: #F9F9F9;
  /* Cambia este color por el que prefieras */
  color: #000000;
  /* Cambia el color del texto si es necesario */
}

.store :hover {
  cursor: pointer;
}

.store {
  background-color: white;
  margin: 0;
}


/* Estilos para el contenedor de las cards */
.contenedor-cards {
  position: relative;
  height: 5vh;
  /* Ajustamos la altura para que las cards no sean tan pequeñas */
  overflow: hidden;
  background-color: #2c2cc2;
  /* Fondo oscuro para las cards */
  padding: 10px;
  /* Mayor padding para dar espacio alrededor */
}

.h3_info{
  width: 10%;
}

.card-container {
  display: flex;
  width: auto;
  animation: scrollCards 30s linear infinite;
  /* Animación para las tarjetas */
  gap: 10px;
  /* Ajustamos el espacio entre las tarjetas */
}

.card_row {
  display: flex;
  /* Asegura que los elementos estén alineados en fila */
  flex-direction: row;
  /* Alinea los elementos horizontalmente */
  align-items: center;
  justify-content: flex-start;
  /* Alinea los elementos hacia el inicio */
  width: 10%;
  height: 2vh;
  /* background-color: rebeccapurple; */
  border-radius: 8px;
  /* Bordes redondeados */
  color: white;
}

.icon-card {
  font-size: 1.0rem;
  /* Aumentamos el tamaño del ícono */
  color: #ffffff;
  /* Color blanco para los íconos */
  margin-right: 5px;
  /* Espacio entre el ícono y el texto */
}

.title_card {
  /* background-color: blue; */
  font-size: 10px;
  /* Tamaño de texto ajustado */
  font-weight: bold;
  margin-top: 14px;
  color: #ffffff;
  /* Color del texto */
  margin-right: 5px;
  /* Espacio entre el título y el siguiente elemento */
}

.card_row h3 {
  font-size: 10px;
  /* Ajuste del tamaño del texto */
  color: #ffffff;
  /* Color blanco para los números de contacto */
  width: 10%;
  margin: 0;
  padding: 0;
  font-weight: lighter;
  /* Hacer el texto menos pesado */
}

/* Animación para el desplazamiento horizontal de las tarjetas */
@keyframes scrollCards {
  0% {
    transform: translateX(100%);
    /* Comienza desde la derecha */
  }

  100% {
    transform: translateX(-100%);
    /* Finaliza al pasar completamente a la izquierda */
  }
}

.searchIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon_marca {
  width: 60px;
  margin: 13px;
}

button i,
button span {
  font-size: 1.2rem;
}

button {
  padding: 0.5rem 1rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}


.welcome-box {
  border-radius: 10px;
  /* Bordes redondeados */
  padding: 10px;
  /* Espaciado interno */
  font-family: 'Poppins', sans-serif;

  text-align: center;
  /* Centrar texto */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  margin: 10px 0;
  /* Margen superior e inferior */
}

.welcome-text {
  color: #ff4d4d;
  /* Color rojizo */
  font-size: 1.0rem;
  /* Tamaño de fuente */
  margin-bottom: 20px;
  /* Espaciado inferior */
}

.button-container {
  display: flex;
  /* Usar flexbox para alinear botones */
  justify-content: center;
  /* Centrar botones */
  gap: 10px;
  /* Espacio entre botones */
}

.btn {
  padding: 10px 20px;
  /* Espaciado interno de los botones */
  font-size: 1rem;
  /* Tamaño de fuente de los botones */
  border-radius: 5px;
  /* Bordes redondeados para los botones */
}

.btn-primary {
  background-color: #007bff;
  /* Color de fondo del botón de login */
  color: white;
  /* Color del texto */
}

.btn-secondary {
  background-color: #6c757d;
  /* Color de fondo del botón de registro */
  color: white;
  /* Color del texto */
}

/* Estilos para el menú de color rojo */
.orange {
  background-color: #F9F9F9;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_btn:hover {
  background-color: white;
  color: #dc143c;
}

/* Icono del carrito */
.carrito-icon {
  font-size: 2rem;
  /* Tamaño grande para el ícono */
  margin-bottom: 5px;
  /* Espacio entre el ícono y el texto */
  transform: scale(1.1);

}

.carrito :hover {
  cursor: pointer;
  transform: scale(1.1);

}


/* Estilo para el texto */
.carrito p {
  font-size: 12px;
  font-weight: 100;
  margin: 0;
}

/* Animación para el salto del carrito */
@keyframes saltar {
  0% {
    transform: translateY(0);
    /* Posición inicial */
  }

  25% {
    transform: translateY(-10px);
    /* Salto hacia arriba */
  }

  50% {
    transform: translateY(0);
    /* Vuelve a la posición inicial */
  }

  75% {
    transform: translateY(-5px);
    /* Salto más pequeño */
  }

  100% {
    transform: translateY(0);
    /* Vuelve a la posición inicial */
  }
}



#menuAccordion {
  background-color: #F9F9F9;
}

/* Estilo para la barra de navegación y enlaces */
.opc_nbn {
  font-size: 12px;
  font-family: 'Poppins', 'sans-serif';
  font-weight: 200;
  transition: color 0.3s ease;
}



/* Contenedor del logo */
.image {
  width: 100px;
  height: auto;
}

/* Ajustes para el contenedor de la bienvenida y carrito */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  font-family: 'Poppins', 'sans-serif';
  font-size: 10px;

}

/* Estilos adicionales */
.welcome {
  color: #ffffff;
  font-weight: bolder;
  font-family: 'Poppins', 'sans-serif';
  font-size: 15px;
  border-radius: 5px;
  margin-top: 1px;

}

/*Esto debe pewrmanecer*/

.orange {
  background-color: #F9F9F9;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.nav-link {
  color: #000000;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s;
}

.datos1 {
  background-color: #3F3F3F;
  align-items: center;
  width: 130px;
  height: 100px;
  text-align: center;
}

.datos {
  background-color: #dc143c;
  align-items: center;
  width: 130px;
  height: 100px;
  text-align: center;
}
.datos1:hover, .datos:hover {
  cursor: pointer;
  transform: scale(1.05); /* Efecto de hover */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  font-size : 1rem;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}



/* Responsividad */
@media (max-width: 768px) {
  .orange {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: flex-start; /* Alinea los elementos al inicio */
  }

  .opciones_menu {
    justify-content: center; /* Centra las opciones en pantallas pequeñas */
  }

  .nav-link {
    font-size: 14px; /* Ajusta el tamaño de fuente */
  }

  .datos1, .datos {
    width: 100%; /* Asegura que los botones ocupen el ancho completo */
    height: auto; /* Permite que la altura se ajuste */
  }
}

.fade-image {
  opacity: 0;
  animation: fadeLoop 6s infinite;
  transition: opacity 1s ease-in-out;
}



.fade-image:nth-child(2) {
  animation-delay: 5s;
}



@keyframes fadeLoop {
  0% { opacity: 0; }
  10% { opacity: 1; }
  40% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

.Login{
background-color: #333;
width: 30%;
}
.become{
  background-color: #dc143c;
  width: 70%;

}
