<div class="content_float d-flex justify-content-center align-items-center vh-100">
  <div class="contenedor2">

    <div class="d-grid mt-2">
      <button type="button" class="btn btn-return text-white" (click)="volverATienda()">
        <i class="bi bi-shop me-2"></i> Volver a la tienda
      </button>
    </div>
    
    <div class="div" style="background-color: transparent;">
      <div class="card shadow-lg border-0" style="max-width: 400px;">
        <div class="card-header bg-white text-center py-4">
          <h5 class="text-dark fw-bold">
            <span class="main-title">Ingrese sus credenciales</span><br>
            <span class="main-title">de ingreso</span>
          </h5>
        </div>
        <div class="card-body p-4">
          <form (ngSubmit)="onSubmit()">
            <div class="mb-4">
              <div class="input-group">
                <span class="input-group-text bg-light">
                  <i class="bi bi-person text-secondary"></i>
                </span>
                <input type="text" class="form-control" id="email" [(ngModel)]="usuarios.email" name="email"
                  placeholder="Correo electrónico">
              </div>
            </div>
            <div class="mb-4">
              <div class="input-group position-relative">
                <span class="input-group-text bg-light">
                  <i class="bi bi-lock text-secondary"></i>
                </span>
                <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
                  [(ngModel)]="usuarios.password" name="password" placeholder="Contraseña">
                <span class="input-group-text bg-light eye-icon" style="cursor: pointer;"
                  (click)="togglePasswordVisibility()">
                  <i class="bi" [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'"></i>
                </span>
              </div>
              <small class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</small>
            </div>

            <button type="submit" class="btn btn-primary btn-block btn-lg w-100">Ingresar</button>
            <div class="text-center mt-3">
              <a routerLink="/registro" class="text-decoration-none text-primary">¿No tienes cuenta?</a>  </div>        </form>
        </div>
      </div>
    </div>
  </div>
</div>
