.fw-bold{
    font-family: 'Poppins', sans-serif;
margin-top: 30px;
}



.brand img {
    transition: transform 0.3s ease; /* Transición suave */
  }
  
  .brand img:hover {
    transform: scale(1.1); /* Escala la imagen al 110% */
  }
  
@keyframes slideIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .brand img {
    width: 230px; /* Ajusta el tamaño de la imagen */
    margin-bottom: 20px;
    animation: slideIn 0.5s ease forwards; /* Aplica la animación */
    opacity: 0; /* Comienza invisible */
  }
  
  .brand {
    opacity: 0; /* Comienza invisible */
    animation: fadeIn 0.5s ease forwards; /* Aplica la animación */
    animation-delay: 0.2s; /* Retraso para la animación */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1; /* Finaliza visible */
    }
  }