h1, h2,h3,h4,h5,h6, p, span, li, a, ul{
  font-family: 'Poppins', sans-serif;

}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.0rem;
  color: #2C2C2C;
  font-weight: 700;
}

.card-title_3 {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #2C2C2C;
  font-weight: bolder;
}

.card-title_4 {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #2C2C2C;
}
.card_product{
   border: 1px solid black;
   border-radius: 10px;
   height: 370px;
}
.card-title_2 {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  text-transform: capitalize;
  margin-left: 20px;
  margin-right: 20px;
  color: #2C2C2C;

  
font-weight: 300;
}
button{
  font-family: 'Poppins', sans-serif;

}
.bold-button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.card_title_2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #2C2C2C;
  font-weight: 80;
  margin-left: 10px;
  margin-right: 10px;
}

.imgfila1 {
  width: 90%;
  padding: 5px;
}

.card-text {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  color: #666;
  padding: 0;
  margin-top: -17px;
}

.carousel-inner img {
  object-fit: contain;
  height: 400px;
  margin-top: -20px;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 2;
}

.carousel-indicators button {
  background-color: #2C2C2C;
  border: none;
}

.category-card {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  height: 180px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.category-card .service-icon img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.category-card:hover .service-icon img {
  filter: none;
}

.brands-container {
  width: 100%;
  background-color: #f9f9f9;
  padding: 30px 0;
  margin-top: 30px;
}

.brands-container img {
  filter: grayscale(100%);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.brands-container img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.service-icon {
  font-size: 4rem;
  color: #2C2C2C;
  transition: transform 0.3s ease, color 0.3s ease;
}

.service-icon:hover {
  transform: scale(1.1);
  color: #430505;
}

.product {
  position: static; 
}

.card-img-top {
  padding: 20px;
}

/* Responsividad */
@media (max-width: 768px) {
  .carousel-inner img {
    height: 300px;
  }

  .product-card {
    height: auto;
  }

  .card-img-top {
    height: 180px;
  }

  .card-body {
    padding: 10px;
  }

  .icons button {
    font-size: 1.4rem;
  }

  .product-row {
    flex-direction: column;
    gap: 10px;
  }

  .card {
    width: 18rem;
    margin-bottom: 20px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }

  .old-price {
    font-size: 0.9rem;
    color: #6c757d;
  }
}

.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  height: 100%;
}



.product-card img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.product-card .card-body {
  text-align: start;
  padding: 15px;
  flex-grow: 1;
}

.title_category {
  padding: 10px;
  color: #2C2C2C;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
}

.product-card .price-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  left: 5px;
  margin-top: -10px;
  right: 5px;
}


.icons button {
  border: none;
  background-color: transparent;
  color: #dc143c;
  font-size: 1.8rem;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icons button:hover {
  transform: scale(1.2);
  color: #430505;
}

.material-icons {
  font-size: 27px;
}

/* Colunas de categorias y anuncios */
.contenedor_columnas {
  height: 100vh;
  display: flex;
}

.columna1, .columna2 {
  width: 40%;
  padding: 10px;
}

.contenedor{
  display: flex;
  background-color: #999;
  padding: 10px;
}
.columna3 {
  width: 20%;
  padding: 10px;
  z-index: 10;

}

.ofert_image, .descuento_1, .descuento_2 {
  width: 100%;
  padding: 10px;
}

.descuento_1 {
  height: 25vh;
}

.descuento_2 {
  height: 25vh;
}

.descuento_1:hover, .descuento_2:hover, .ofert_image:hover {
  transform: translate(-5px, -5px) rotate(-5deg);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 2000;
}

.fila2 {
  background-color: rgb(255, 255, 255);
  height: auto;
}

.fila3 {
  height: auto;
  margin-top: 120px;
  margin-left: 50px;
  margin-right: 50px;
}
/*Estilos localizados para los grupos */
.card_grupo{
  margin: 10px;
  padding: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.fila4 {
  background-color: rgb(255, 255, 255);
  margin-top: 90px;
}



/* Fila principal */

.card {
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}




.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.animated-title {
  font-size: 18px;
  color: #2C2C2C;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.animated-title:hover {
  color: #2C2C2C;
  transform: scale(1.2);
}

.card-container {
  overflow: hidden;
  height: 500px;
  width: 900px;
  position: static;
}

.card-container .card {
  animation: moveUp 10s linear infinite;
}

@keyframes moveUp {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.content_list_category {
  margin: 10px; /* Espaciado externo entre tarjetas */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ddd; /* (Opcional) Borde para distinguir las tarjetas */
  border-radius: 5px; /* (Opcional) Bordes redondeados */
  background-color: #f9f9f9; /* (Opcional) Fondo suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* x-offset, y-offset, difuso, color */

}

/* Efecto al pasar el mouse */
.content_list_category:hover {
  transform: translateX(-10px); /* Mover la tarjeta ligeramente a la izquierda */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Aumentar la sombra para un efecto más pronunciado */
  cursor: pointer;
}

.service-icon {
  margin-bottom: 10px; /* Espacio entre el ícono y el texto */
}

.card-body {
  display: inline-block; /* Asegura que las tarjetas se alineen horizontalmente */
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.carousel-inner img {
  animation: fadeIn 0.5s ease forwards; /* Aplica la animación */
}

.product-card {
  opacity: 0; /* Comienza oculto */
  transform: translateY(20px); /* Comienza desplazado hacia abajo */
  animation: fadeIn 0.5s ease forwards; /* Aplica la animación */
  animation-delay: 0.2s; /* Retraso para que no aparezcan todas al mismo tiempo */
}

.product-card:nth-child(1) { animation-delay: 0.1s; }
.product-card:nth-child(2) { animation-delay: 0.2s; }
.product-card:nth-child(3) { animation-delay: 0.3s; }
.product-card:nth-child(4) { animation-delay: 0.4s; }

.category-card {
  opacity: 0; /* Comienza oculto */
  transform: translateY(20px); /* Comienza desplazado hacia abajo */
  animation: fadeIn 0.5s ease forwards; /* Aplica la animación */
  animation-delay: 0.2s; /* Retraso para que no aparezcan todas al mismo tiempo */
}

.category-card:nth-child(1) { animation-delay: 0.1s; }
.category-card:nth-child(2) { animation-delay: 0.2s; }
.category-card:nth-child(3) { animation-delay: 0.3s; }

.service-card {
  opacity: 0; /* Comienza oculto */
  transform: translateY(20px); /* Comienza desplazado hacia abajo */
  animation: fadeIn 0.5s ease forwards; /* Aplica la animación */
  animation-delay: 0.2s; /* Retraso para que no aparezcan todas al mismo tiempo */
}

.service-card:nth-child(1) { animation-delay: 0.1s; }
.service-card:nth-child(2) { animation-delay: 0.2s; }
.service-card:nth-child(3) { animation-delay: 0.3s; }
service-card:nth-child(4) { animation-delay: 0.4s; }






.product-card {
  width: 200px; /* Ajusta el tamaño de las tarjetas */
  height: auto;
  border: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}



.card-img-top {
  height: 230px; /* Ajusta el tamaño de la imagen */
  object-fit: contain;
  margin-top: 10px;
}

.price-container {
  display: flex;
  flex-direction: row;
}

.price-old {
  font-size: 23px;
}

.price-new {
  font-size: 23px;
  font-weight: 900;
  color: black;
  font-family: 'Poppins', sans-serif;

}

.icons button {
  color: black;
}

.icons button:hover {
  color: red;
}

.product-card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-old {
  margin-right: 10px;
  text-decoration: line-through;
  color: black;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;

}

.mt-4{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.gradient-header {
  background: linear-gradient(90deg, #DC143B, #760B20);
  color: white;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.subscribe-button {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
}
.subscribe-button:hover {
  background: rgba(255, 255, 255, 0.4);
}