<!-- Carrusel de imágenes -->
<div *ngIf="publicidad.length > 0">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let imagen of publicidad; let i = index" [class.active]="i === 0">
        <img [src]="imagen.image_url" class="d-block w-100" alt="Imagen cargada" (click)="verDetalles(imagen)" />
      </div>
    </div>
    <!-- Botones de control -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
    <!-- Indicadores -->
    <div class="carousel-indicators">
      <button *ngFor="let imagen of publicidad; let i = index" type="button" data-bs-target="#carouselExampleControls"
        [attr.data-bs-slide-to]="i" [class.active]="i === 0" aria-label="Slide {{ i + 1 }}"></button>
    </div>
  </div>
</div>


<div class="w-100">
  <div class="category-marquee-container">
    <div class="category-marquee">
      <div
        class="category-card-small text-center"
        *ngFor="let cat of categorias"
        (click)="seleccionarCategoria(cat.category)"
      >
        <div class="card shadow-sm border-0 p-2">
          <div class="card-body p-1">
            <h6 class="card-title m-1">{{ cat.category }}</h6>
          </div>
        </div>
      </div>
      <!-- Duplicamos para que se vea continuo -->
      <div
        class="category-card-small text-center"
        *ngFor="let cat of categorias"
        (click)="seleccionarCategoria(cat.category)"
      >
        <div class="card shadow-sm border-0 p-2">
          <div class="card-body p-1">
            <h6 class="card-title m-1">{{ cat.category }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  

  <div *ngIf="categoriaSeleccionada" class="mt-5">
    <h4>Productos en "{{ categoriaSeleccionada }}"</h4>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
      <div class="col" *ngFor="let producto of productos">
        <div class="card h-100 shadow-sm border-0">
          <div class="card-body">
            <h5 class="card-title">{{ producto.name }}</h5>
            <p class="card-text">{{ producto.description }}</p>
            <p><strong>Precio:</strong> ${{ producto.unit_price }}</p>
            <p><strong>Stock:</strong> {{ producto.total_quantity }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Contenedor de categorías -->
<div class="fila2">
  <div class="container mt-5 content_category">
    <div class="title_category">Nuestro Contenido</div>
    <div class="contenedor_columnas">


      <div class="columna1">
        <div id="ofertasCarousel" class="carousel slide mb-3" data-bs-ride="carousel" data-bs-interval="5000">
          <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let imagen of ofertas; let i = index">
              <img [src]="imagen.imagen" class="d-block w-100 rounded-3" alt="Imagen cargada" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#ofertasCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#ofertasCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div id="descuentosCarousel" class="carousel slide mb-3" data-bs-ride="carousel" data-bs-interval="7000"
          style="width: 100%; height: 250px;">
          <div class="carousel-inner" style="height: 100%;">
            <div class="carousel-item active" *ngFor="let imagen of descuentos; let i = index">
              <img [src]="imagen.imagen" class="d-block w-100 h-100 rounded-3" alt="Imagen cargada"
                style="object-fit: cover; height: 100%;" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#descuentosCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#descuentosCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="columna2">
        <div id="descuentosCarousel2" class="carousel slide mb-3" data-bs-ride="carousel" data-bs-interval="5000"
          style="width: 100%; height: 250px;">
          <div class="carousel-inner" style="height: 100%;">
            <div class="carousel-item active" *ngFor="let imagen of descuentos; let i = index">
              <img [src]="imagen.imagen" class="d-block w-100 h-100 rounded-3" alt="Imagen cargada"
                style="object-fit: cover; height: 100%;" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#descuentosCarousel2"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#descuentosCarousel2"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div id="ofertasCarousel2" class="carousel slide mb-3" data-bs-ride="carousel" data-bs-interval="5000">
          <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let imagen of ofertas; let i = index">
              <img [src]="imagen.imagen" class="d-block w-100 rounded-3" alt="Imagen cargada" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#ofertasCarousel2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#ofertasCarousel2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contenedor de búsqueda y filtros -->
<div class="container mb-4 px-4">
  <div class="row align-items-center">
    <div class="col-md-6 mb-2">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar por nombre o categoría"
        [(ngModel)]="filtroBusqueda"
        (input)="aplicarFiltros()"
      />
    </div>

    <div class="col-md-4 mb-2">
      <select
        class="form-select"
        [(ngModel)]="filtroCategoria"
        (change)="aplicarFiltros()"
      >
        <option value="">Todas las categorías</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.category">
          {{ categoria.category }}
        </option>
      </select>
    </div>

    <div class="col-md-2 mb-2">
      <button class="btn btn-outline-secondary w-100" (click)="resetFiltros()">
        Limpiar filtros
      </button>
    </div>
  </div>
</div>

<div class="fila3">
  <h3 class="text-center"></h3>
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let producto of productosFiltrados">
      <div class="text-center card_product border shadow-sm rounded-3 p-3" style="cursor: pointer;">
        <!-- Imagen del producto -->
        <div (click)="verProducto(producto.item_id)">
          <img [src]="producto.imagen" class="card-img-top img-fluid" alt="Imagen del producto">
          <h6 class="card-title_2 mt-3">{{ producto.name }}</h6>

          <!-- Categoría -->
          <div class="price-container d-flex justify-content-center mt-2">
            <p class="card-title_3 me-1">Categoría:</p>
            <p class="card-title_4">{{ producto.category }}</p>


          </div>
        

          <!-- Estado de disponibilidad -->
          <div class="mt-1">
            <span *ngIf="producto.total_quantity === 1" class="badge bg-danger">¡Producto limitado!</span>
            <span *ngIf="producto.total_quantity === 0" class="badge bg-warning">¡Producto errrror!</span>

            <span *ngIf="producto.total_quantity > 1" class="badge bg-success">Producto disponible</span>
          </div>


          <!-- Precios -->
          <div class="price-container d-flex justify-content-center align-items-center">
            <span class="price-old text-muted text-decoration-line-through me-2">
              ${{ producto.cost_price | number }}
            </span>
            <span class="price-new fw-bold">
              ${{ producto.unit_price | number }}
            </span>
          </div>
        </div>


      </div>

    </div>

  </div>
</div>








<!-- Sección de servicios -->
<div class="fila4">
  <div class="services-section">
    <h3 class="text-center services-title">Nuestros Servicios</h3>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-2 service-card">
          <div class="service-icon">
            <i class="bi bi-cart" style="font-size: 3rem;"></i>
          </div>
          <p class="service-text">Tienda Virtual</p>
        </div>
        <div class="col-md-2 service-card">
          <div class="service-icon">
            <i class="bi bi-gear" style="font-size: 3rem;"></i>
          </div>
          <p class="service-text">Reparación</p>
        </div>
        <div class="col-md-2 service-card">
          <div class="service-icon">
            <i class="bi bi-headset" style="font-size: 3rem;"></i>
          </div>
          <p class="service-text">Atención Al Cliente</p>
        </div>
        <div class="col-md-2 service-card">
          <div class="service-icon">
            <i class="bi bi-shield-lock" style="font-size: 3rem;"></i>
          </div>
          <p class="service-text">Seguridad</p>
        </div>
      </div>
    </div>
  </div>
</div>