<!-- Carrusel de imágenes -->
<div *ngIf="publicidad.length > 0">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let imagen of publicidad; let i = index" [class.active]="i === 0">
        <img [src]="imagen.image_url" class="d-block w-100" alt="Imagen cargada" (click)="verDetalles(imagen)" />
      </div>
    </div>
    <!-- Botones de control -->
    <button class="custom-carousel-btn prev" type="button" data-bs-target="#carouselExampleControls"
      data-bs-slide="prev">
      <i class="material-icons">chevron_left</i>
    </button>
    <button class="custom-carousel-btn next" type="button" data-bs-target="#carouselExampleControls"
      data-bs-slide="next">
      <i class="material-icons">chevron_right</i>
    </button>


    <!-- Indicadores -->
    <div class="carousel-indicators">
      <button *ngFor="let imagen of publicidad; let i = index" type="button" data-bs-target="#carouselExampleControls"
        [attr.data-bs-slide-to]="i" [class.active]="i === 0" aria-label="Slide {{ i + 1 }}"></button>
    </div>
  </div>
</div>

// Nuestro contenido


<div class="container-fluid mt-5">
  <div class="row align-items-center" style="min-height: 80vh;">
    
    <div class="col-12 text-center mb-4">
      <h2 class="titulo-seccion">Nuestro Contenido</h2>
    </div>

    <!-- Carrusel de redes sociales -->
    <div class="col-12 col-md-5 mb-4 mb-md-0 d-flex justify-content-center">
      <div id="carouselRedes" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <img src="assets/img/facebook.jpg" class="img-fluid cuadro" alt="Red 1" href="https://www.facebook.com/Silicon.Popayan/">
          </div>
          <div class="carousel-item text-center">
            <img src="assets/img/instagram.jpg" class="img-fluid cuadro" alt="Red 2" href="https://www.instagram.com/siliconpopayan/">
          </div>
          <div class="carousel-item text-center">
            <img src="assets/img/tiktok.jpg" class="img-fluid cuadro" alt="Red 3" href="https://www.tiktok.com/@silicon.popayan">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselRedes" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselRedes" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>

    <!-- Carruseles de servicios -->
    <div class="col-12 col-md-7 d-flex flex-column gap-3">
      
      <div id="carouselServicios1" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <img src="assets/img/Bold.png" class="img-fluid" alt="Servicio 1">
          </div>
          <div class="carousel-item text-center">
            <img src="assets/img/renovamos.jpg" class="img-fluid" alt="Servicio 2">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselServicios1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselServicios1" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>

      <div id="carouselServicios2" class="carousel slide w-100" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <img src="assets/img/servicio_1.png" class="img-fluid" alt="Servicio extra 1">
          </div>
          <div class="carousel-item text-center">
            <img src="assets/img/Visitanos.png" class="img-fluid" alt="Servicio extra 2">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselServicios2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselServicios2" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>

  </div>
</div>


<div class="tv-carousel-section">
  <h2 class="carousel-title">Todo lo relacionado con Accesorios</h2>

  <div class="tv-carousel-container">
    <button class="arrow left" (click)="scrollCarousel(-1, 'accesorios')">‹</button>

    <div class="tv-carousel" #carouselAccesorios>
      <div class="tv-item animate-fade-in" *ngFor="let accesorio of accesorios" (click)="verProducto(accesorio.item_id)">
        <img [src]="accesorio.imagen" alt="{{accesorio.name}}">
        <h3>{{ accesorio.name }}</h3>
        <p class="price">${{ accesorio.cost_price }}</p>
      </div>
    </div>

    <button class="arrow right" (click)="scrollCarousel(1, 'accesorios')">›</button>
  </div>
</div>

<div class="advice-section">
  <span class="advice-title">Cuida tus electrodomésticos como se merecen ⚙️❤️</span>

  <div class="carousel-container">
    <div class="carousel-track" #track>
      <div class="advice-card" *ngFor="let consejo of consejos">
        <div class="advice-icon">{{ consejo.icono }}</div>
        <div class="advice-text">
          <strong>{{ consejo.titulo }}</strong> – {{ consejo.descripcion }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tv-carousel-section">
  <h2 class="carousel-title">Todo lo relacionado con Televisores</h2>

  <div class="tv-carousel-container">
    <button class="arrow left" (click)="scrollCarousel(-1, 'televisores')">‹</button>

    <div class="tv-carousel" #carouselTelevisores>
      <div class="tv-item animate-fade-in" *ngFor="let tv of televisores" (click)="verProducto(tv.item_id)">
        <img [src]="tv.imagen" alt="{{tv.name}}">
        <h3>{{ tv.name }}</h3>
        <p class="price">${{ tv.cost_price }}</p>
      </div>
    </div>

    <button class="arrow right" (click)="scrollCarousel(1, 'televisores')">›</button>
  </div>
</div>



<!-- Contenedor de búsqueda y filtros -->
<div class="container mb-4 px-4">
  <div class="row align-items-center">
    <div class="col-md-6 mb-2">
      <input type="text" class="form-control" placeholder="Buscar por nombre o categoría" [(ngModel)]="filtroBusqueda"
        (input)="aplicarFiltros()" />
    </div>

    <div class="col-md-4 mb-2">
      <select class="form-select" [(ngModel)]="filtroCategoria" (change)="aplicarFiltros()">
        <option value="">Todas las categorías</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.category">
          {{ categoria.category }}
        </option>
      </select>
    </div>

    <div class="col-md-2 mb-2">
      <button class="btn btn-outline-secondary w-100" (click)="resetFiltros()">
        Limpiar filtros
      </button>
    </div>
  </div>
</div>

<div class="fila3">
  <h3 class="text-center"></h3>
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let producto of productosFiltrados">
      <div class="text-center card_product border shadow-sm rounded-3 p-3" style="cursor: pointer;">
        <!-- Imagen del producto -->
        <div (click)="verProducto(producto.item_id)">
          <img [src]="producto.imagen" class="card-img-top img-fluid" alt="Imagen del producto">
          <h6 class="card-title_2 mt-3">{{ producto.name }}</h6>

          <!-- Categoría -->
          <div class="price-container d-flex justify-content-center mt-2">
            <p class="card-title_3 me-1">Categoría:</p>
            <p class="card-title_4">{{ producto.category }}</p>


          </div>


          <!-- Estado de disponibilidad -->
          <div class="mt-1">
            <span *ngIf="producto.total_quantity === 1" class="badge bg-danger">¡Producto limitado!</span>
            <span *ngIf="producto.total_quantity === 0" class="badge bg-warning">¡Producto errrror!</span>

            <span *ngIf="producto.total_quantity > 1" class="badge bg-success">Producto disponible</span>
          </div>


          <!-- Precios -->
          <div class="price-container d-flex justify-content-center align-items-center">
            <span class="price-old text-muted text-decoration-line-through me-2">
              ${{ producto.cost_price | number }}
            </span>
            <span class="price-new fw-bold">
              ${{ producto.unit_price | number }}
            </span>
          </div>
        </div>


      </div>

    </div>

  </div>
</div>








<!-- Sección de servicios -->
<div class="fila4">
  <div class="services-section">
    <h3 class="text-center services-title">Nuestros Servicios</h3>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-2 service-card">
          <div class="service-icon">
            <i class="bi bi-cart" style="font-size: 3rem;"></i>
          </div>
          <p class="service-text">Tienda Virtual</p>
        </div>
        <div class="col-md-2 service-card">
          <div class="service-icon">
            <i class="bi bi-gear" style="font-size: 3rem;"></i>
          </div>
          <p class="service-text">Reparación</p>
        </div>
        <div class="col-md-2 service-card">
          <div class="service-icon">
            <i class="bi bi-headset" style="font-size: 3rem;"></i>
          </div>
          <p class="service-text">Atención Al Cliente</p>
        </div>
        <div class="col-md-2 service-card">
          <div class="service-icon">
            <i class="bi bi-shield-lock" style="font-size: 3rem;"></i>
          </div>
          <p class="service-text">Seguridad</p>
        </div>
      </div>
    </div>
  </div>
</div>