.contact-card {
    animation: fadeInUp 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que ocupe todo el espacio disponible */
    margin-bottom: 50px;
  }
  
  .card {
    max-width: 800px; /* Define un ancho máximo para la tarjeta */
    margin: auto; /* Centra horizontalmente */
    text-align: start; /* Centra el texto dentro de la tarjeta */
  }
  

  
  .company-logo:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .company-name {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: #333;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .contact-card p {
    font-family: 'Poppins', sans-serif;
    color: #555;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .content{
     align-items: start;
  }
  .contact-card p i {
    color: #007bff;
    transition: color 0.3s ease-in-out;
  }
  
  .contact-card p:hover i {
    color: #870c0c;
  }
  
  /* Animación de entrada */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .company-logo {
      max-width: 100px;
    }
  
    .company-name {
      font-size: 1.4rem;
    }
  
    .contact-card p {
      font-size: 0.9rem;
    }
  }
  