/* Establecer el fondo degradado para todo el body */
/* Estilo para la barra de navegación */
.navbar {
  background: linear-gradient(-90deg, #dc143c, #2e2e2e);
  padding: 10px 0;
}

.bi-text{
  color: #2e2e2e;
}

h4{
  color: #2e2e2e;
  font-weight: 400;

}
.navbar .container {
  display: flex;
  justify-content: center;
}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

/* Estilo para el contenedor del formulario */
.container {
  max-width: 400px; /* Tamaño más pequeño para el formulario */
  margin: auto;
  padding: 20px;
}



/* Estilo para los inputs animados */
.animated-input {
  transition: border-color 0.3s;
}

.animated-input:focus {
  border-color: #dc143c; /* Color de borde al enfocar */
}

/* Estilo para el botón */
.animated-button {
  transition: background-color 0.3s;
}

.animated-button:hover {
  background-color: #c7151c; /* Color de fondo al pasar el mouse */
}

/* Estilo para los mensajes de error */
.error-message {
  font-size: 0.9rem;
}
/* Contenedor principal */
.container {
  max-width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho */
  margin: auto;
  padding: 20px;
  height: 100%; /* Asegúrate de que el contenedor ocupe toda la altura */
}
/* Estilo de la tarjeta */
.card {
  border-radius: 8px;
  background: linear-gradient(-90deg, #dc143c, #2e2e2e);
  color: #ffffff; /* Color del texto */
  width: 100%; /* Cambia a 100% para que ocupe todo el ancho del contenedor */
  max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
  margin: 20px auto; /* Centra la tarjeta y agrega margen superior e inferior */
  padding: 20px; /* Espaciado interno */
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Animación de entrada */
.animated-card {
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}




/* Estilo de los grupos de entrada */
.input-group-text {
  border-radius: 50px 0 0 50px;
  border: none;
  color: rgb(71, 14, 14);
  background-color: #ffffff; /* Color de fondo para el icono */
}

.animated-input {
  border-radius: 0 50px 50px 0;
  border: none;
  box-shadow: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animated-input:focus {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(220, 20, 60, 0.4);
  border-color: #dc143c;
}

/* Mensajes de error */
.error-message {
  font-size: 0.9rem;
}

/* Estilo del botón principal */
.send {
  background-color: transparent; /* Fondo transparente */
  border: 2px solid white; /* Borde blanco */
  border-radius: 5px; /* Bordes redondeados */
  color: white; /* Color del texto */
  transition: all 0.3s ease; /* Transición suave para todos los cambios */
}

.send:hover {
  background-color: #ffffff; /* Fondo blanco al pasar el mouse */
  color: #c7151c; /* Color del texto rojo al pasar el mouse */
  transform: scale(1.05); /* Aumentar tamaño al pasar el mouse */
  cursor: pointer; /* Cambiar el cursor a puntero */
}

.animated-button {
  padding: 0.7rem 2rem;
  font-weight: bold;
  font-size: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.animated-button:hover {
  transform: scale(1.1);
}

.text-primary {
  color: #dc143c;
}


/* Tipografía */
h1, h2, h3,h4, p, li, span,a {
  font-family: 'Poppins', 'sans-serif';
}

a{
  font-weight: 800;
}

/* Estilo para la tarjeta de beneficios */
.floating-info {
  position: fixed; /* Fija la tarjeta en la pantalla */
  left: 20px; /* Espacio desde la izquierda */

  top: 100px; /* Espacio desde la parte superior */
  width: 300px; /* Ancho de la tarjeta */
  background: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de elevación */
  border: 2px solid transparent; /* Borde transparente para el degradado */
  background-clip: padding-box; /* Asegura que el fondo no se extienda al borde */
  border-image: linear-gradient(-90deg, #dc143c, #2e2e2e) 1; /* Borde degradado */
}

/* Estilo para los iconos de beneficios */
.benefit-icon {
  color: #dc143c; /* Color del icono */
  font-size: larger;
  margin-right: 10px; /* Espacio entre el icono y el texto */
  transition: transform 0.3s; /* Transición suave para la animación */
}

.benefit-icon:hover {
  transform: scale(1.2); /* Aumenta el tamaño del icono al pasar el mouse */
}

.btn-link {
  color: #ffffff; /* Color del texto del enlace */
  font-weight: bold; /* Negrita */
  text-decoration: none; /* Sin subrayado */
}

.btn-link:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}