/* Ajuste del Carrusel */
.carousel img {
    height: 300px;
    object-fit: cover;
  }
  
  /* Estilo de las Tarjetas de Oferta */
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
    color: #555;
  }
  
  .btn-success {
    background-color: #28a745;
    border: none;
  }
  .btn-success:hover {
    background-color: #218838;
  }
  