<div class="container">
    <h2 class="text-center my-4">Productos por Categoría</h2>
    <div class="row">
      <div class="col-md-3 mb-4" *ngFor="let producto of productos">
        <div class="card h-65">
            <img [src]="producto.url_imagen" class="card-img-top rounded-3" alt="Imagen del producto">
            <div class="card-body">
            <h5 class="card-title">{{ producto.nombre_producto }}</h5>
            <p class="card-text">{{ producto.descripcion_producto }}</p>
            <p class="text-success fw-bold">${{ producto.precio_producto }}</p>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-primary">Ver Detalle</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  