<!-- Portafolio de Servicios -->
<div class="contact-card container mt-5">
    
    <div class="text-center mt-4">
        <button class="btn btn-carmesi text-white px-4 animate-pulse" (click)="irATienda()">
          <i class="bi bi-shop-window me-2"></i>Volver a la Tienda
        </button>
      </div>
    <!-- Título principal animado -->
    <div class="header bg-carmesi text-white text-center py-3 rounded-top animate-fade-slide">
      <h4 class="m-0">PORTAFOLIO DE SERVICIOS SILICON 2025</h4>
    </div>
  
    <!-- Card con sombra y animación -->
    <div class="card shadow-lg p-4 rounded-bottom animate-fade-in">
      
      <!-- Iframe del flipbook -->
      <div class="embed-responsive embed-responsive-16by9 animate-zoom-in">
        <iframe allowfullscreen scrolling="no"
          class="fp-iframe rounded border border-secondary"
          style="width: 100%; height: 500px;"
          src="https://heyzine.com/flip-book/17874bcec7.html">
        </iframe>
      </div>
    </div>
  </div>
  