<p>marcas works!</p>
<fieldset class="p-4 shadow-sm rounded bg-light">
    <legend class="text-primary mb-3">Crear Marca</legend>
    <form [formGroup]="MarcaForm" (ngSubmit)="crearMarca()" class="row g-4">
      <!-- marca -->
      <div class="col-md-3">
        <label for="marca" class="form-label">Marca</label>
        <input id="marca" class="form-control" formControlName="marca" placeholder="Ejm: Chagenger, kalley" />
        <div *ngIf="MarcaForm.get('marca')?.invalid && MarcaForm.get('marca')?.touched" class="text-danger">
          Este campo es obligatorio
        </div>
      </div>


         <!-- Imagen --> 
         <div class="col-md-6">
          <label for="imagen" class="form-label">Icono de Marca</label>
          <input id="imagen" (change)="capturarFile($event)" name="logo_marca" class="form-control" formControlName="logo_marca" type="file" />
          <div *ngIf="MarcaForm.get('logo_marca')?.invalid && MarcaForm.get('logo_marca')?.touched" class="text-danger">
            Este campo es obligatorio
          </div>
          
          <div class="mt-3" *ngIf="previsualizacion">
            <p>Previsualización:</p>
            <img [src]="previsualizacion" class="img-thumbnail" alt="Previsualización" style="max-height: 200px;" />
          </div>
        </div>

      <!-- Botón Crear -->
      <div class="col-md-12 d-grid">
        <button type="submit" class="btn btn-primary" [disabled]="MarcaForm.invalid">Crear Producto</button>
      </div>
    </form>
  </fieldset>